{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
